@font-face {
	font-family: 'AlegreyaSansSC'; 
    font-weight: 700;
	src: url('../fonts/AlegreyaSansSC-Bold.ttf'); 
}

@font-face {
	font-family: 'AlegreyaSansSC'; 
    font-weight: 500;
	src: url('../fonts/AlegreyaSansSC-Medium.ttf'); 
}
 
@font-face {
	font-family: 'ProximaNova'; 
	src: url('../fonts/ProximaNova-SemiBold.ttf'); 
}




@font-face {
	font-family: 'OpenSans';
	font-weight: 700; 
	src: url('../fonts/OpenSans-Bold.ttf'); 
}

@font-face {
	font-family: 'OpenSans';
	font-weight: 400; 
	src: url('../fonts/OpenSans-Regular.ttf'); 
}
@font-face {
	font-family: 'OpenSans';
	font-weight: 600; 
	src: url('../fonts/OpenSans-SemiBold.ttf'); 
}