@import url(./reset.scss); 
@import url(./fonts.scss);
@import url(./loader.scss);

///////////////////////////////////////////////////////////////////////////////////////////

.hidden {
    overflow: hidden;
}
$as:  AlegreyaSansSC;
$pn: ProximaNova;
$os: OpenSans;

$dark: #101010;
$light: #fff;
$silver: #939393;

@mixin jcsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

@mixin transition {
transition: all .3s;
}

///////////////////////////////////////////////////////////////////////////////////////////

body {
    font-family: $os;
    font-weight: 600;
}

.container {
    max-width: 1025px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}


.nav {
    background: $dark;
    position: fixed;
    width: 100%;
    z-index: 2;
    &__logo {
        color: $light;
        font-family: $as;
        font-weight: 700;
        font-size: 28px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 10px;
        text-decoration: none;
    }
    
    &__menu {
        min-height: 70px;
        @include jcsb;
       
    }
    &__fix {
        height: 70px;
    }
    &__wrapper {
        @include jcsb;
        
    }
    &__menu-link {
        background: $light;
        padding: 11.5px 40.5px;

        font-family: $pn;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        &:not(last-child) {
            margin-right: 12px;
        }
        color: #000000;
        text-decoration: none;
        @include transition;
        &:hover {
            background: $silver;
            color: $light;
        }
    }

    
}


.hero {
    text-align: center;
    background: url(./../img/backgrounds/pilots-bg.png), $dark;
    background-position: center 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding-top: 140px;
    &__title {
        font-family: $as;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        color: $light;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    .bg-linear {
        background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0;
        width: 593px;
        height: 156px;
        margin: 0 auto;
        z-index: -1;
    }
    .bg-radial {
        background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
        height: 204px;
        width: 1017px;
        margin: 0 auto;
        display: flex;
        
        justify-content: center;
        flex-direction: column;
    }
    .liner-grad {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 23.22%, rgba(0, 0, 0, 0.14) 42.37%, rgba(0, 0, 0, 0) 56.3%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 282px;
    }
    &__subtitle {
        font-family: $as;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: $light;   
        z-index: 2; 
       
    }
    &__controls-buy {
        padding: 11.5px 59.5px;
        margin-right: 0;
    }
    &__controls {
        @include jcsb;
        margin-top: 70px;
        padding-bottom: 55px;
        position: relative;
        z-index: 2;
    }
    &__controls-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0);
        border: 2px solid $light;
        cursor: pointer;

        @include transition;
        .hero__controls-img {
            fill: $light;
        }
        &:hover {
            background: $light;
            .hero__controls-img {
                fill: $dark;
            }
        }
    }
    &__controls-next {
        transform: rotate(180deg);
    }
    
}

.buy-tickets {
    &__wrapper {
        @include jcsb;
        margin-top: 31px;
        font-family: $as;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        color: $dark;
        margin-bottom: 16px;
    }
    &__page--silver {
        color: #E0E0E0;  
    }
}

.card-profile {
    display: flex;
    flex-direction: column;
    border: 1px solid $dark;
    padding: 17px;
    height: 109px;
    margin-bottom: 47px;
    &__title {
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        text-transform: capitalize;
        margin-bottom: 4px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.41);
    }
    &__link {
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        color: #FFFFFF;
        background: #101010;
        border: 1px solid #0D1E4B;
        width: fit-content;
        padding: 10px 20px;
        text-decoration: none;
        margin-top: auto;
        cursor: pointer;
        @include transition;
        &:hover {
            background: $silver;
            border: 1px solid $silver;
        }
    }
}

.about {
    margin-bottom: 47px;
    @include jcsb;
    align-items: flex-start;

    &__title {
        font-family: $as;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .scroll-bar {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            z-index: 39;
            height: 100%;
            width: 2px;
            opacity: 0.2;
            display: block;
            background: #0D1E4B;
            left: 2px;
            top: 0;
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, .4);
            bottom: 0;
            right: 0;
        }

    }

    &__text-wrap {
        max-height: 230px;
        overflow-y: auto;
        direction: rtl;
       
        &::-webkit-scrollbar-track {
            display: none;
            
        }
        &::-webkit-scrollbar
        {
            width: 10px;
            
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: #0D1E4B;
        }
    }
    
    &__text-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        max-width: 392px;
        
    }
    .scroll-left {
        direction: ltr;
        margin-left: 32px;
    }
    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: $silver;
        max-width: 326px;
        margin-bottom: 40px;
        
    }

    &__right-wrap {
        flex: 0 0 559px;
        padding: 13px 25px 25px;
        border: 1px solid $silver;
        display: flex;
        flex-direction: column;
    }

    &__form-title {
        font-family: $os;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 9px;
        
    }

    &__form-textarea {
        border: 1px solid #0D1E4B;
        min-height: 134px;
        resize: none;
        outline: none;
        padding: 10px 20px;
        margin-bottom: 16px;
        &::placeholder {
            font-weight: 600;
            font-size: 11px;
            line-height: 15px;
           


            color: #969696;
        }
    }
    &__form-send {
        margin-left: auto;
        cursor: pointer;
    }
    
}

.about-group {
    @include jcsb;
    margin-bottom: 38px;
    &__title {
        font-family: $as;
        font-weight: 500;
        font-size: 35px;
    }
    align-items: flex-start;

    &__text {
        flex: 0 1 838px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $silver;
    }
}

.user-data {
    border: 1px solid $dark;
    margin-top: 36px;
    &__wrapper {
        border-left: 1px solid $dark;
        border-right: 1px solid $dark;
    }
    &__info--border {
        border-bottom: 1px solid #000;
    }
    

    &__name {
        border-bottom: 1px solid $dark;
        font-family: $as;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        padding: 11px 18px 13px 18px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: -100vw;
            bottom: 0;
            height: 1px;
            right: 100%;
            background: $dark;
            transform: translateY(1px);
        }
        &::before {
            content: '';
            position: absolute;
            right: -100vw;
            bottom: 0;
            height: 1px;
            left: 100%;
            background: $dark;
            transform: translateY(1px);
        }
    }
    &__hr {
        width: 1px;
        height: 100%;
        background: $dark;
    }

    &__info {
        @include jcsb();
        height: 44px;
    }
    &__info > li {
        font-family: $os;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        padding: 14px 22px 10px 22px;
    }
    &__info--space {
        justify-content: space-around ;
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-right: -1px;

       

    }
    &__message {
        margin: 0;
        height: 100%;
        text-transform: none;
        cursor: pointer;
    }
    &__hr--white {
        background: #fff;
    }
    &__suggest {
        cursor: pointer;
        margin: 0;
        height: 100%;
        text-transform: none;
    }
    margin-bottom: 25px;
}



.user-posts {
    border: 1px solid $dark;
    padding: 16px 0 33px 0;
    margin-bottom: 23px;

    &__wrapper {
        @include jcsb();
        gap: 20px;
        align-items: stretch;
        flex-wrap: wrap;
        
        
    }
    
    &__post {
        padding: 14px 22px 17px 35px;
        border: 1px solid $dark;
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
    }

    &__posts-header {
        @include jcsb();
        margin-bottom: 4px;
        align-items: flex-start;
    }

    &__posts-title {
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        color: #000000;
        flex: 0 1 300px;
    }

    &__post-date {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;

    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 20px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.41);
        
    }
    &__all-posts {
       display: block;
       margin-left: auto;
       margin-top: 20px;
       text-transform: none;
       margin-top: auto;
       cursor: pointer;
      
    }
}



.public {
    margin-bottom: 40px;
    &__wrap {
        @include jcsb()
    }

    &__img {
        height: 154px;
        width: 154px;
        border: 1px solid $dark;
        &:nth-child(1) {
            background:   rgba(99, 180, 238, 1);
        }
        &:nth-child(2) {
            background:   rgba(43, 159, 242, 1);
        }
        &:nth-child(3) {
            background: rgba(84, 127, 237, 1);
        }
        &:nth-child(4) {
            background: rgba(67, 102, 225, 1);
        }
        &:nth-child(5) {
            background: rgba(32, 64, 176, 1);
        }
        &:nth-child(6) {
            background: rgba(12, 37, 124, 1);
        }
    }
}


.comments {
    &__item {
        border: 1px solid $dark;
        padding: 20px;
        margin-bottom: 20px;
    }

    &__header {
        display: flex;
        justify-content: right;
        margin-bottom: 20px;
    }
    
    &__name {
        border-right: 1px solid #000;
        margin-right: 20px;
        padding-right: 20px;
    }
}

.modal {
    &__area {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(87, 87, 87, 0.534);
        display: flex;
        justify-content: center;
        align-items: center;
        
        opacity: 0;
        visibility: hidden;
        @include transition();
    }
    &__area.active {
        opacity: 1;
        visibility: visible;
    }
    &__wrap {
        width: 400px;
        height: 340px;
        background: #fff;
        border-radius: 20px;
        border: 1px solid $dark;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__who-wrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;
    }
    &__name {
        flex: 0 1 48%;
        outline: none;
        padding: 10px;
    }
    
    &__mail {
        outline: none;
        padding: 10px;
        flex: 0 1 48%;
    }
    &__btn-wrap {
        padding-bottom: 20px;
    }
    &__text {
        width: 89%;
    }
    &__btns-wrap {
        display: flex;
        margin-left: auto;
        & > :first-child {
            margin-right: 10px;
        }
    }
}

.navigation {
    @include jcsb();
    &__next {
        margin-left: auto;
    }
}